*{
    background-color: aliceblue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
}

#clicker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 450px;
    transition: transform .2s;
}
#clicker:active{
    transform: scale(1.2);
}

h1{
    color: darkblue;
    font-size: 230%;
}
h2{
    color: blue;
}

.title{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    margin-left: 3%;
    margin-right: 3%;
}