*{
    background-color: aliceblue;
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
}

#clicker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h1{
    color: darkblue;
}
h2{
    color: blue;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    margin-left: 3%;
    margin-right: 3%;
}