@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Titan+One&display=swap');

*{
    background-color: aliceblue;
    font-family: "Sigmar", sans-serif;
    margin: 0;
}

#clicker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    transition: transform .2s;
}
#clicker:active{
    transform: scale(1.2);
}

h1{
    color: darkblue;
    font-size: 230%;
    background-color: transparent;
}
h2{
    color: blue;
    background-color: transparent;
}
#pointCounter{
    color: blue;
    background-color: transparent;
}
h3{
    color: cornflowerblue;
    background-color: transparent;
}

header{
    margin-left: 3%;
}

.title{
    display: flex;
    justify-content: space-between;
    
}

.shop{
    margin: 3%;
}

button{
    border: 0;
    border-radius: 20px;
    background-color: aquamarine;
    margin: 1%;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    margin: 3%
}